<div class="app-page">
  <div class="page__head">
    <button type="button" pButton [text]="true" class="page__back" (click)="goBack()">
      <i class="pi pi-arrow-left"></i>
      Voltar
    </button>
    <div class="page__head-row">
      <h2 class="page__title">Categorias de Equipamento</h2>
      <a pButton routerLink="/categories/new">
        <i class="pi pi-plus"></i>
        Nova categoria
      </a>
    </div>
  </div>

  <p-card>
    <p-table [value]="categories">
      <ng-template #header>
        <tr>
          <th>Nome</th>
          <th class="text-end">Ações</th>
        </tr>
      </ng-template>
      <ng-template #body let-category>
        <tr>
          <td>{{ category.name }}</td>
          <td class="text-end">
            <a
              pButton
              [rounded]="true"
              [text]="true"
              severity="secondary"
              [routerLink]="['/categories', category.id, 'edit']"
              title="Editar"
              aria-label="Editar categoria"
            >
              <i class="pi pi-pencil"></i>
            </a>
            <button
              pButton
              [rounded]="true"
              [text]="true"
              severity="danger"
              (click)="remove(category)"
              title="Remover"
              aria-label="Remover categoria"
            >
              <i class="pi pi-trash"></i>
            </button>
          </td>
        </tr>
      </ng-template>
      <ng-template #emptymessage>
        <tr>
          <td colspan="2" class="page__empty">Nenhuma categoria cadastrada.</td>
        </tr>
      </ng-template>
    </p-table>
  </p-card>
</div>
