<div class="app-page">
  <div class="page__head">
    <button type="button" pButton [text]="true" class="page__back" (click)="goBack()">
      <i class="pi pi-arrow-left"></i>
      Voltar
    </button>
    <div class="page__head-row">
      <div>
        <h2 class="page__title">Funcionários</h2>
      </div>
      <a pButton routerLink="/employees/new">
        <i class="pi pi-plus"></i>
        Novo funcionário
      </a>
    </div>
  </div>

  <p-card header="Funcionários cadastrados">
    <p-table [value]="employees">
      <ng-template #header>
        <tr>
          <th>Nome</th>
          <th>E-mail</th>
          <th>Data de Nascimento</th>
          <th class="text-end">Ações</th>
        </tr>
      </ng-template>
      <ng-template #body let-employee>
        <tr>
          <td>{{ employee.name }}</td>
          <td>{{ employee.email }}</td>
          <td>{{ employee.birthDate }}</td>
          <td class="text-end">
            <a
              pButton
              [rounded]="true"
              [text]="true"
              severity="secondary"
              [routerLink]="['/employees', employee.id, 'edit']"
              title="Editar"
              aria-label="Editar funcionário"
            >
              <i class="pi pi-pencil"></i>
            </a>
            <button
              pButton
              [rounded]="true"
              [text]="true"
              severity="danger"
              (click)="remove(employee)"
              title="Remover"
              aria-label="Remover funcionário"
            >
              <i class="pi pi-trash"></i>
            </button>
          </td>
        </tr>
      </ng-template>
      <ng-template #emptymessage>
        <tr>
          <td colspan="4" class="page__empty">Nenhum funcionário cadastrado.</td>
        </tr>
      </ng-template>
    </p-table>
  </p-card>
</div>
